/// <reference path="../../../../utils/__utils.scss" />

.Yuan {
    // хаки для верстки по странам
    // тут Китай
    // media-queries(lg) - для теликов
    // остальное для планшетов

    .timeLabelMinut {
        white-space: nowrap;
    }

    .cook-time-label-InOven {
        margin-right: 0;
    }

    .price-currency {
        top: -15px;
    }

    .price-for-piece {
        white-space: nowrap;
        width: 120px;
        position: relative;
        top: -35px;

        @include media-queries(lg) {
            top: 0;
        }
    }
}

