/// <reference path="../../../../utils/__utils.scss" />

.pizza-name {
    @include font-size(42);
    margin-bottom: 20px;

    @include media-queries(lg) {
        @include font-size(60);
    }
}

.pizza-content {
    padding-right: 20px;
    letter-spacing: normal;
    @include font-size(28);
    line-height: 1em;

    @include media-queries(lg) {
        @include font-size(40);
    }
}
