.select {
	background-color: #dededc;
}

.white {
	color: #fff;
}

.red {
	color: #d8261a;
}

.bred {
	background-color: #d8261a;
}

.blue {
	color: #0093e0;
}

.bblue {
	background-color: #0093e0;
}

.green {
	color: #05903d;
}

.bgreen {
	background-color: #b7dd7a;
}

.yellow {
	color: #f8c301;
}

.byellow {
	background-color: #f8c301;
}

.byellow2 {
	background-color: #fff974;
}

.orange {
	color: #e87616;
}

.borange {
	background-color: #e87616;
}

.black {
	color: #1f1a17;
}

.bblack {
	background-color: #1f1a17;
}

.bgray {
	background-color: #dededc;
}

.btngreen {
    background-color: #b8dc7c !important;
    color: #000 !important;
}