#more {
	&.tableContainer td {
		border: 2px solid #464543;
	}

	.header {
		height: 10%;
		font-size: 2.9em;

		> span {
			margin-left: 0.5em;

			&.fright {
				margin: 0 0.9em 0 0.4em;
			}
		}
	}

	.prod_item, .sous_item {
		border: 2px solid #464543;
		height: 7%;
		color: #191512;
		cursor: pointer;
	}

	.prod_item:empty, .sous_item:empty {
		cursor: default;
	}

	.prod_item {
		width: 35%;
		font-size: 2.3em;
		text-align: center;
	}

		.sous_item {
		width: 15%;
		font-size: 1.9em;
		text-align: left;
		padding-left: 2%;
	}

	.footer_left {
		height: 13%;
		text-align: center;
		font-size: 3.5em;
		border-collapse: collapse;
		color: #191512;
		cursor: pointer;
		background-color: #f6c491;
	}

	.footer_right {
		height: 13%;
		text-align: center;
		font-size: 3.5em;
		border-collapse: collapse;
		color: #191512;
		cursor: pointer;
		background-color: #b8dc7c;
	}

	.prod_item:hover,
	.sous_item:hover,
	.footer_left:hover,
	.footer_right:hover {
		background-color: #efefef;
	}

	.prod_item:empty:hover,
	.sous_item:empty:hover {
		background-color: #ffffff;
	}
}