.mainContainer {
	margin-bottom: 70px;
	font-family: Arial, Helvetica, sans-serif;
}

.bottomContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	border-top: 1px solid #e6e6e6;
	background-color: #fff;
}

.sliceDebiting {
	padding: 20px;
	height: 100%;
	border-bottom: solid 1px #e6e6e6;
}

.sliceDebiting_sliceDescription {
	width: 100%;
}

.sliceDebiting_name {
	font-weight: bold;
}

.sliceDebiting_label {
	margin-bottom: 15px;
	font-size: 26px;
	line-height: 1;
}

.sliceDebiting_description {
	font-size: 18px;
	color: #999;
}

.sliceDebiting_counter {
	height: 100%;
	text-align: right;
	font-size: 40px;
}

.sliceDebiting_counterItem {
	display: inline-block;
	padding: 0 10px;
	line-height: 60px;
	text-align: center;
	vertical-align: top;
}

.sliceDebiting_minus {
	background: url(/Content/Images/icon-minus2x.png) center no-repeat;
}

.sliceDebiting_plus {
	background: url(/Content/Images/icon-plus2x.png) center no-repeat;
}

.sliceDebiting_minus, .sliceDebiting_plus {
	width: 60px;
	height: 60px;
	-webkit-background-size: 24px;
	-moz-background-size: 24px;
	-o-background-size: 24px;
	background-size: 24px;
	border: solid 1px #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #999;
}

.sliceDebiting_button {
	padding: 0 20px;
	height: 60px;
	border: 1px solid #b22a1b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 26px;
	color: #fff;
	background-color: #ec6e44;

	&.disabled {
		border-color: #e6e6e6;
		color: #ccc;
		background: #f2f2f2;
	}
}

.sliceDebiting_column {
	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}

.trackFooter_name {
	width: 300px;
	height: 100%;
	padding: 22px 20px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	line-height: 1;
	background: #ffc84d;
}
