.slicePacking {
	font-size: 16px;

	.innerMain {
		vertical-align: middle;
	}

	.innerName {
		font-size: 35px;
	}

	.innerType {
		font-size: 20px;
	}

	.cellNumber-label {
		font-size: 24px;
	}

	.time-track_packing {
		bottom: 10px;
		right: 10px;
	}
}