/// <reference path="_variables.scss" />

@function calculateMargin($parent-width) {
    $margin-half: ($k-marg-half-px / $parent-width * 100%);
    @return $margin-half;
}

// Расчет размера шрифта в rem
@function calculateRem($size) {
    $remSize: $size / $rootFontSize;
    @return #{$remSize}rem;
}

// Адаптивный размер шрифта в vh
// зависит от высоты viewport
// при необходимости подключается отдельным миксином font-size-vh
@function get-vh($target, $context) {
    $vh-context: $context * .01;
    @return #{$target/$vh-context}vh;
}

@function get-vw($target, $context) {
    $vw-context: $context * .01;
    @return #{$target/$vw-context}vw;
}

@function calculateAsyncItemWidth($colCount) {
    $width: 100% / $colCount;
    @return $width;
}

@function calculateAsyncItemHeight($rowCount) {
    $height: 100% / $rowCount;
    @return $height;
}

@function calcPercent($target, $container) {
    @return ($target / $container) * 100%;
}
