/// <reference path="../../../../utils/__utils.scss" />
/// <reference path="../../project/_variables.scss" />

// Structure
@mixin keyboard($selector, $btn-count, $parent-width: $k-default-width, $defaultSkin: true) {

	$k-marg-half: calculateMargin($parent-width);
	$k-marg: $k-marg-half * 2;
	// ширина без margin:
	$content-width: $k-width - ($k-marg * $btn-count - $k-marg);
	// высчитывается "чистая" ширина одной кнопки:
	$btn-width: $content-width / $btn-count;

	#{$selector} {
		display: block;
		width: $k-width;
		padding: $k-marg;
	}

		#{$selector}_row {
			display: block;
			width: $k-width;
		}

		#{$selector}_btn {
			box-sizing: border-box;
			position: relative;
			display: inline-block;
			width: $btn-width;
			margin: $k-marg-half;

			&:first-of-type {
				margin-left: auto;
			}

			&:last-of-type {
				margin-right: auto;
			}
			// создание доп.классов для кнопок, которые могут занимать несколько ячеек:
			@for $i from 2 through ($btn-count - 1) {
				&.x#{$i} {
					width: $btn-width * $i + $k-marg * ($i - 1);
				}
			}
		}

	@if $defaultSkin != false {
		@include keyboard-skin-default($selector);
	}
}


// Default skin

@mixin keyboard-skin-default($selector, $bg: #f2f2f2, $bg-btn: #fff, $f-size: 20px, $btn-height: 60px) {
	#{$selector} {
		border-top: 1px solid #ccc;
		background: $bg;
	}

		#{$selector}_row {
			font-size: 0;
			text-align: center;
		}

		#{$selector}_btn {
			height: $btn-height;
			line-height: $btn-height;
			border: 1px solid #ccc;
			color: #333;
			text-align: center;
			font-size: $f-size;
			border-radius: 4px;
			background: $bg-btn;
			vertical-align: middle;
			@include user-select();

			&:disabled,
			&[disabled] {
				color: #ccc;
			}

			&.backspace {
				background: url(/Content/Images/icon-backspace.svg) center center no-repeat, $bg-btn;
			}

			&.check {
				background-image: url(/Areas/CashierSpa/app/assets/images/icon-check.svg);
				background-position: center center;
				background-repeat: no-repeat;
			}

			&.shift {
				background-image: url(/Content/Images/icon-shift.svg);
				background-size: 30px;
				background-position: center center;
				background-repeat: no-repeat;
			}

			&.btn_primary {
				@extend .btn_primary;
			}

			&.btn_active {
				@extend .btn_active;
			}

			&.pressed {
				border-color: #333;
				background-color: #eaeaea;
			}

			&.invisible {
				border: none;
				background-color: transparent;
				content: " ";
			}
		}
}
