.juneTable {
	width: 100%;
	height: 100%;
	border: 0 none;
	border-collapse: collapse;

	a, a:active, a:hover, a:link {
		color: #333333;
		text-decoration: none;
	}
}

.headerCell {
	height: 10%;
	vertical-align: middle;
	margin: 0;
	padding: 0;

	h1 {
		padding: 0;
		margin: 0 0 0 20px;
		font: 2.625em 'VAGRoundedLTCYR-Light';
		line-height: normal;
		float: left;
	}
}

#employees {
	width: 100%;
	height: 100%;
	background: #e6e6e6;
}
