.b-motiv__item {
	min-width: 110px;
	float: left;
	position: relative;
	width: 20%;
	height: 33.33%;

	&:last-of-type {
		display: none;
	}
}

.b-motiv__item_smile {
	background: url(/content/images/icon-ghost-green.png) no-repeat;
}

.b-motiv__item_sad {
	background: url(/content/images/icon-ghost-red.png) no-repeat;
}

.b-motiv__item_status {
	background: url(/content/images/pacman.gif) no-repeat;
	background-size: contain;
	background-position: 50%;
	min-width: 110px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 20%;
	height: 33.33%;
}

.b-motiv__item_smile, .b-motiv__item_sad {
	background-position: center 3%;
	background-size: auto 55%;
}