@model int
@{
    Layout = null;
}

<!DOCTYPE html>
<script>
    window.location.href = '/restaurant/@(Model)';
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title></title>
</head>

<body>
<div>
</div>
</body>

</html>