<div class="restaurant-board {{currentRowCountClass}}" ng-show="partitions.length">
    <div class="restaurant-board__row" ng-repeat="order in restaurantOrders | orderBy:'-OrderReadyTimestamp'" ng-show="order.orderNumber != 0" ng-class="order.rowClass">
        <div ng-class="order.color">
			<span class="restaurant-board__order-number">
				<span class="restaurant-board__order-number-value" ng-bind="order.orderNumber"></span>
			</span>
            <span class="restaurant-board__client-name" ng-bind="order.clientName"></span>
        </div>
    </div>
</div>