.cancel-label {
	display: none;
	position: absolute;
	background: transparent;
	color: #d9534f;
	text-align: center;
	text-transform: uppercase;
	padding: 30px 35px;
	font-size: 1.4em;
	border: 1px solid red;
	bottom: 55px;
	left: 40px;
	-webkit-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

.item_cancel .cancel-label {
	display: block;
}

.cancelled .cancel-label {
	display: block;
	bottom: 11px;
	padding: 10px 25px;
	left: 16%;
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
	font-size: 2em;
}

.rejection {
	.innerTable.cancelled {
		background: #fff;
	}

	&.innerGreen .innerTable.cancelled {
		background: rgba(186, 222, 113, 0.5);
	}

	&.innerGrey .innerTable.cancelled {
		background: #dededc;
	}

	.innerTable.cancelled.selected {
		background: rgba(255, 245, 0, 0.5);
	}
}

.cellNumber-label {
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 0 10px 10px;
}