html {
	width: 100%;
	font-size: 100%;
	height: 100%;
	min-width: 640px;
}

body {
	background-color: #FFFFFF;
	line-height: 140%;
	margin: 0 auto;
	min-width: 640px;
	width: 100%;
	height: 100%;
	font-family: Arial, Verdana;
	width: expression( document.documentElement.clientWidth < 960 ? '960px' : (document.documentElement.clientWidth > 96 ? '96%' : 'auto'));

	#add_left, #add_right {
		display: inline-block;
		line-height: 1.1em;
		width: 6em;
		font-size: 1.2em;
		padding-bottom: 0.1em;
		position: absolute;
		bottom: 0.9em;
	}

	#add_left {
		right: 56%;
	}

	#add_right {
		left: 56%;
	}
}

label {
	font-weight: normal;
}

a {
	color: inherit;

	&:active,
	&:link {
		color: inherit;
	}
}

.tableContainer {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border: none;
}

.item {
	&:hover {
		background-color: #eee;
	}

	&.empty:hover {
		background-color: #fff;
	}
}

.size {
	width: 100%;
	height: 50%;
	font-size: 2.2em;
	line-height: 1.15em;
	font-weight: bold;
}

.dough {
	width: 100%;
	height: 16%;
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
}

.sousColor {
	display: inline-block;
	position: relative;
	width: 0.7em;
	height: 0.7em;
	top: 0.74em;
}

.namePizza {
	font-size: 1em;
	padding-right: 5.2%;
}

.bold {
	font-weight: bold;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}


.line {
	width: 76%;
	margin: 0 12%;
	border-top: 3px solid #d6d6d6;
}

#int2 .footer,
#int3 .footer,
#int5 .footer {
	background-color: #dededc;
}

#status {
	font-size: 2.2em;
	line-height: 1em;
}

.right {
	text-align: right;
}

.exit {
	background-color: #da251e !important;
	color: #fff !important;
	border-color: #da251e !important;

	&:hover {
		background-color: #ed4229 !important;
	}
}

audio {
	font-size: 0;
	visibility: hidden;
	display: none;
	position: absolute;
}

#td_key {
	width: 100%;
	height: 29.5%;
}

.prod_item.select {
	background-color: #fff500;
}

.bukva-t {
	font-size: 3em;
	font-weight: bold;
	padding: 0 10px;
}

.smiles-cell {
	width: 95%;
}

.readyBlockCell {
	background: darken(#fff, 7%);
}

.returnCell {
	background: #da251c;
	color: #fff;
	vertical-align: middle !important;
	text-align: center;
	font-size: 1.5em;
}

.innerTable {
	&.cancelled {
		background: #dededc;
		color: #aaa;

		b {
			font-weight: normal;
		}

		i {
			font-style: normal;
			color: #aaa;
		}

		.innerFooter, .time-track, .condensed-milk {
			display: none;
		}
	}

	&.selected {
		background: #fff500;
	}
}

.pizzaSliceCell {
	background: #fdebdf !important;

	.innerTable {
		background: #fdebdf !important;
	}
}

.clear {
	clear: both;
}

.warning {
	position: absolute;
	top: 2em;
	left: 50%;
	display: block;
	transform: translate(-50%, -50%);
	padding: 8px 10px;
	line-height: normal;
	border-radius: 3px;
	border: 1px solid #ec9eb2;
	color: #993d54;
	background: #ffdfe7;
	z-index: 1000;
}

.warning a {
	border-bottom: 1px solid rgba(#993d54, 0.3);
	color: #993d54;
}
