.delivery {
	background-color: #fff;
}

.rest {
	background-color: #dededc;
}

.self {
	background-color: #b8dc7c;
}

.late {
	background-color: Red;
}

.sous {
	.ss {
		background-color: #fff500 !important;
	}

	.sb {
		background-color: #dd127b !important;
	}

	.sg {
		background-color: #ef9a49 !important;
	}

	.sd {
		background-color: #85c226 !important;
	}

	.sk {
		background-color: #8f5444 !important;
	}

	.sch {
		background-color: #c1c1c1 !important;
	}
}