#zakaz_w {
	&.tableContainer {
		border: 2px solid #464543;
	}

	.order_item {
		border: 2px solid #464543;
		width: 10%;
		height: 14.29%;
		text-align: center;
		font-size: 1.9em;
		border-collapse: collapse;
		color: #191512;
		cursor: pointer;
		max-width: 1em;

		&.prev {
			background-color: #f6c491;
			font-size: 2.3em;
			line-height: 1.1em;
		}

		.t_num {
			font-size: 1.3em;
			margin-bottom: 0.4em;
			font-weight: bold;
			line-height: 0.9em;
		}

		&:hover {
			background-color: #efefef;
		}

		&:empty:hover {
			background-color: #ffffff;
		}
	}
}
