/// <reference path="../../../../../utils/__utils.scss" />

.async-footer {
    &__item {
        position: relative;
        flex-grow: 1;
        width: 50%;
        height: 100%;
        padding: 5px $paddingLeft-asyncFooterItem;
        @include font-size(26);
    }

    &__text {
        display: inline-block;
        position: absolute;
        left: $paddingLeft-asyncFooterItem;
        top: 50%;
        transform: translateY(-50%);

        &::first-letter {
            text-transform: uppercase;
        }

        &:last-child {
            right: $paddingLeft-asyncFooterItem;
        }
    }
}
