// Structure

@mixin input($selector, $defaultSkin: true) {
	#{$selector} {
		display: block;
		height: 44px;
		width: 100%;
		padding: 11px 16px;
		margin: 4px;
	}

	@if $defaultSkin != false {
		@include input-skin-default($selector);
	}
}


// Default skin

@mixin input-skin-default($selector) {
	#{$selector} {
		background: #fff;
		color: #000;
		border: 1px solid #e6e6e6;
		border-top: solid 1px #c4c4c4;
		font-size: 16px;
		border-radius: 4px;
	}

	#{$selector}.error {
		border-color: #F05A28;
	}

	#{$selector}:focus,
	#{$selector}.focused {
		@include bordered-color;
	}
}
