body {
	zoom: 1;
	overflow: hidden;
}

.message {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 30;
	color: red;
	@include font-size(10);
}

.productHeader {
	width: 100%;
	overflow: hidden;
	clear: both;
	font-weight: bold;
	text-align: left;
	line-height: normal;
	@include font-size(120);
	@include text-truncate;
}

.orderNumber {
	display: inline;
	min-width: 25%;
	background: #f2f2f2;
	padding: 5px 20px;
	font-family: Arial;
	text-align: center;
}

.clientName {
	display: inline;
	padding: 40px 30px;
	margin: 0;
	line-height: normal;
}

.productName {
	@include font-size(110);
	text-align: center;
	//margin-bottom: 10px;
	line-height: normal;
	@include text-truncate;

	.colon-center {
		top: 0;
	}
}

.productInfo {
	margin: 0 10px;
}

.productStatus {
	color: black;
	text-align: center;
	line-height: normal;
	@include font-size(200);
	@include text-truncate;

	&.normal {
		color: black;
	}

	&.critical {
		color: #e43542;
	}
}

.red .productStatus {
	color: white !important;
	font-weight: bold;
	white-space: nowrap;
}

.b-products-container {
	width: 100%;
	height: 100%;
	.green {
		background: #87b359;
		color: black;
	}

	.red {
		background: #e66e49;
		color: black;
	}

	.yellow {
		background: #f5ac2c;
		color: black;
	}

	.empty {
		background: #e5e5e5;
		color: black;
	}
}

.b-products-row {
	width: 100%;
	float: left;
}

.b-product {
	height: 100%;
	float: left;
	box-sizing: border-box;
	border: 5px solid #f2f2f2;
	overflow: hidden;
	text-align: center;
}

.product_inner {
	margin: 40px 40px 10px 40px;
	overflow: hidden;
}
