.size9 {
	.product_inner {
		margin: 10px;
	}

	.orderNumber {
		@include font-size(56);
		padding: 0 8px;
	}

	.productName {
		@include font-size(44);
		margin-top: 0;
	}

	.productHeader {
		@include font-size(44);
	}

	.clientName {
		@include font-size(44);
		padding: 9px 0 0 10px;
	}

	.productStatus,
	.snack .baked .productStatus {
		@include font-size(63);
		margin-top: -10px;

		@media (min-width:1400px) and (min-height:800px) {
			@include font-size(68);
			margin-top: 10px;
		}

		@media (min-width:1410px) and (min-height:900px) {
			@include font-size(70);
			margin-top: 10px;
		}
	}

	.red .productStatus {
		@include font-size(61);
		margin-top: -10px;

		@media (min-width:1400px) and (min-height:800px) {
			@include font-size(66);
			margin-top: 10px;
		}

		@media (min-width:1410px) and (min-height:900px) {
			@include font-size(68);
			margin-top: 10px;
		}
	}

	.b-products-row {
		height: 33.333%;
	}

	.b-product {
		width: 33.333%;
	}
}
