.size4 .ready_express_product {
	.product_name {
		font-size: 1.5em;
	}

	.product_number {
		font-size: 2em;
	}

	.product_time, .product_status {
		bottom: 6%;
		font-size: 1.5em;
	}

	.hero_people {
		bottom: -5px;
		right: 25px;

		img {
			width: 35%;
			height: auto;
		}
	}
}