.size16 .ready_express_product {
	.product_name {
		font-size: 0.7em;
	}

	.product_number {
		font-size: 1em;
	}

	.product_time, .product_status {
		font-size: 0.6em;
		bottom: 7%;
	}

	.hero_people {
		bottom: -10px;

		img {
			width: 33%;
			height: auto;
		}
	}
}