/// <reference path="../../../../../utils/__utils.scss" />

.async-product {
    min-height: 100%;
    @include flexbox();
    @include flex-direction(column);

    &__title,
    &__size {
        @include flex(1 0 auto);
    }

    &__title {
        margin-bottom: $marginBottom-asyncProduct-title;
        @include text-truncate;
        @include font-size(28);
        @include font-size-vh(28);
    }

    &__size {
        font-weight: 300;
        font-family: 'VAGRoundedLTCYR-Light', sans-serif;
        vertical-align: bottom;
        @include font-size(86);
        @include font-size-vh(86);
    }

    &__sauce {
        height: 10px;
        width: $width-asyncProduct-sauce;
        margin: 0 auto;
        margin-bottom: $marginBottom-asyncProduct-sauce;
        background-color: transparent;
        @include rounded(5px);
    }

    &__footer {
        position: relative;
        display: table;
        width: 100%;
        @include font-size(20);
        @include font-size-vh(20);
    }

    &__number,
    &__timer,
    &__cancel-text {
        vertical-align: top;
        padding: 7px 0;
        display: table-cell;
    }

    &__timer,
    &__cancel-text {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        white-space: nowrap;
        @include rounded(3px);
    }

    &__timer {

        &_late {
            padding-left: $paddingLeft-asyncProductTimerLate;
            padding-right: $paddingLeft-asyncProductTimerLate;
            background-color: $bgColor-asyncProductTimerLate;
            color: $color-fff;
        }
    }

    &__cancel-text {
        color: $color-fff;
    }
}

// Ячейки при сетке 5*3
.async-track__grid_size_fifteen {

    .async-product {

        &__title {
            @include font-size(24);
            @include font-size-vh(24);
        }

        &__footer {
            text-align: left;
        }
    }
}
