.track {

	// http://www.wearesicc.com/quick-tips-5-column-layout-with-twitter-bootstrap/
	.col-xs-15,
	.col-sm-15,
	.col-md-15,
	.col-lg-15 {
		position: relative;
		min-height: 1px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.col-xs-15 {
		width: 20%;
		float: left;
	}

	#intA12 .item {
		height: 30.2vh;
		border-width: 0 1px 1px 0;
	}

	#intA12 .namePizza {
		font-size: 4vh;
		padding-top: 5%;
	}


	#intA12 .size {
		font-size: 14vh;
		margin: 0;
	}

	#intA12 .sauce {
		height: 3vh;
	}

	#intA12 .numOrder {
		font-size: 5vh;
	}

	#intA12 .col-md-8 {
		padding-top: 0px;
	}

	#intA12 .footer {
		height: 10vh;
		font-size: 3vh;
	}

	#intA12 #status {
		font-size: 5vh;
		line-height: 8vh;
	}

	.row {
		margin-left: 0px;
		margin-right: 0px;
	}

	.queueStatus {
		vertical-align: middle;
		padding: 0 0px;
	}

	.screenBlockerLayout {
		z-index: 1000;
		border: none;
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		cursor: wait;
		position: fixed;
		background: linear-gradient(to top, rgb(222, 222, 220), #000);
	}
}
