.time-track {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	line-height: 1;
	right: 10px;
	bottom: 10px;
	padding: 0.71em;
	font-size: 14px;
}

.time-track_packing {
	bottom: 2px;
	right: 4px;
	padding: 0.35em 0.85em;
	font-size: 9px;
}

@media only screen and (max-width: 1024px) {
	.time-track_dough {
		font-size: 12px;
	}
}

.time-track__time {
	color: #fff;
	display: inline-block;
	font-size: 2.22em;
	line-height: 1;
	font-weight: bold;
	text-align: right;
}

.time-track__rectangle {
	box-sizing: border-box;
	display: inline-block;
	background: #0FEA0F;
	height: 1.85em;
	width: 1.85em;
	margin-right: 0.5em;
	border-radius: 50%;
	border: 3px solid #fff;
}

.time-track__rectangle_red {
	background: red;
}

.time-track_composite {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	line-height: 1;
	right: 10px;
	bottom: 5.6%;
	padding: 0.35em 1em;
	font-size: 12px;
}

@media only screen and (max-width: 1024px) {
	.time-track_composite {
		font-size: 10px;
	}
}

.time-track__time {
	color: #fff;
	display: inline-block;
	font-size: 2.22em;
	line-height: 1;
	font-weight: bold;
	text-align: right;
}