// Index.cshtml

#tracker_menu {
	.content {
		width: 100%;
		height: 30%;
		overflow: hidden;
		font-size: 2.9em;
	}

	.item {
		width: 48%;
		height: 30%;
		border: 1px solid #999999;
		vertical-align: middle;
		text-align: center;
		overflow: hidden;
		cursor: pointer;
	}
}

.trackermenu_footer {
	display: table;
	height: 100%;
	width: 100%;
}

#tracker_menu a.exit {
	display: table-cell;
	height: 100%;
	width: 7%;
	font-size: 3em;
	text-decoration: none;
	text-align: center;
	line-height: 2;

	&:hover {
		text-decoration: none !important;
	}
}

.links_tracker {
	display: table-cell;
	text-align: right;
	float: right;
	padding: 0 4% 0 0;
	font-size: 1.8em;
	color: #ddd;

	a {
		color: #2158f7;
		margin-bottom: 10px;

		&:hover {
			color: #000;
		}
	}
}

.sticker {
	width: 2%;
	border: 1px solid #999999;
	border-right: 0;
	border-left: 0;
	width: 2em;
	background: #ddd;
}

.sticker_dough {
	background: #FFF974;
}

.sticker_composite {
	background: #899dff;
}

.sticker_stationary {
	background: #f28214;
}

.sticker_assemblyline {
	background: #ff7c9e;
}

.sticker_packing {
	background: #63D853;
}

.trackermenu_left {
	border-left: 0 !important;
}

.trackermenu_right {
	border-right: 0 !important;
}

.tracker_composite #intA12 .footer {
	background: #899dff;
}

.tracker_dough #intA1 .footer {
	background: #fff974;
}

.tracker_assemblyline #intA1 .footer {
	background: #ff7c9e;
}

.tracker_packing #assembly.tableContainer {
	border-bottom: 10px solid #63d853;
}

.tracker_stationary .tableContainer {
	border-bottom: 10px solid #f28214;
}
