// FOR NUMERIC KEYBOARD //
@mixin keyboard-skin-numeric($selector, $bg: #f2f2f2, $bg-btn: #fff, $f-size: 20px, $btn-height: 60px) {
	#{$selector} {
		border: none;
		background: $bg;
	}

		#{$selector}_row {
			font-size: 0;
			text-align: center;
		}

		#{$selector}_btn {
			height: $btn-height;
			line-height: $btn-height;
			border: 1px solid #ccc;
			color: #333;
			text-align: center;
			font-size: $f-size;
			border-radius: 5px;
			background: $bg-btn;
			vertical-align: middle;
			@include user-select();

			&:disabled,
			&[disabled] {
				color: #ccc;
			}

			&.backspace {
				background: url(/Content/Images/icon-backspace.svg) center center no-repeat, $bg-btn;
			}

			.check {
				background: url(/Areas/CashierSpa/app/assets/images/icon-check.svg) center top no-repeat, $bg-btn;
			}

			&.shift {
				background: url(/Areas/CashierSpa/app/assets/images/icon-shift_s.png) center top no-repeat, $bg-btn;
			}

			&.btn_primary {
				@extend .btn_primary;
			}

			&.btn_active {
				@extend .btn_active;
			}

			&.invisible {
				border: none;
				background-color: transparent;
				content: " ";
			}
		}
}
