/// <reference path="../../../../utils/__utils.scss" />
/// <reference path="../_variables.scss" />

.profileCard_user {
	float: right;
	margin: 5px 2px;
	position: relative;
}

.shiftHeader .profileCard_user {
    top: 8px;
    right: 13px;
}

.profileCard_link {
	display: inline-block;
    color: #b1b1b1;
    font-size: 16px;
    border-bottom: none;
    cursor: pointer;
    vertical-align: middle;
	text-decoration: none;

	img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
}

.profileCard {
	display: none;
	position: absolute;
	top: 42px;
	right: 0;
	width: 420px;
	height: auto;
	line-height: 1.6;
	font-size: 0;	
	border-radius: 4px;
	background-color: #fff;
	z-index: 2000;
	color: #000;
	@include drop-shadow(0, 1px, 8px, 0.5);

	.profileCard_info,
	.profileCard_footer {
		padding: 15px;
	}

	.info_user,
	.info_img {
		display: inline-block;		
		vertical-align: top;
	}

	.info_user {
		font-size: 14px;
		width: 74%;
		line-height: 1.9;

		h3 {
			color: #616161;
			font-size: 24px;
			font-weight: bold;
			margin: 0 0 5px 0;
		}
	}

	.info_img {		
		text-align: right;
		width: 26%;

		img {
			width: 100px;
			height: 100px;
		}
	}

	.profileCard_footer {
		border-top: 1px solid #ccc;
	}

	.footer_btn {
		display: inline-block;
		border-radius: 3px;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.42857143;
		background-color: #fff;
		padding: 6px 12px;
		border: 1px solid #ccc;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
		white-space: nowrap;
		color: #333;

		&:hover {
			background-color: #eee;
		}
	}

	.btn_profile {
		color: #fff;
		border-color: #357ebd;
		background-color: $color-base;

		&:hover {
			background-color: #357ebd;
		}
	}

	.btn_exit {
		float: right;
	}
}
