.themodal-overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 100000;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.popup-crop {
	margin: 25px;
	float: left;
	display: inline-block;
	box-shadow: 0 0 5px #000;
	background-color: #fff;
}

.popup-crop__body {
	margin: 10px 10px 5px;
}

.popup-crop_footer {
	margin: 0 0 5px;
	text-align: right;
	padding: 2px 10px;
}
