// importOnce
// this mixin makes it possible to have a file imported at multiple place and only be output the first time it is called
// it is used for placeholders to prevent them from being repeated by each file depending on them
$modules: () !default;

@mixin importOnce($uniqeRef) {
	@if not index($modules, $uniqeRef) {
		$modules: append($modules, $uniqeRef) !global;
		@content;
	}
}

@mixin custom-queries($size) {
	@media only screen and (max-width: $size) {
		@content;
	}
}

@mixin media-queries($size: xs) {
	//$size = xs, sm, md or lg
	$xs-max: 768px;
	$sm-max: 992px;
	$md-max: 1200px;

	@if $size == lg {
		@media (min-width: $md-max + 1) {
			@content;
		}
	}
	@else if $size == md {
		@media (min-width: $sm-max + 1) and (max-width: $md-max) {
			@content;
		}
	}
	@else if $size == sm {
		@media (min-width: $xs-max + 1) and (max-width: $sm-max) {
			@content;
		}
	}
	@else if $size == xs {
		@media (max-width: $xs-max - 1) {
			@content;
		}
	}
}
