// Default $default-
// ==========================================================================

$default-fontPath: "/Content/Fonts/";


// Functions $func-
// ==========================================================================
$rootFontSize: 16;

// Components $comp-
// ==========================================================================

// Colors
// ==========================================================================
$color-base: #428bca;
$color-fff: #fff;
$color-000: #000;
$color-ccc: #ccc;
$color-e0e0e0: #e0e0e0;
$color-333: #333;
$color-f2f2f2: #f2f2f2;
$color-999: #999;


// Borders
// ==========================================================================
$border-solid-ccc: 1px solid #ccc;


// Borders-radius
// ==========================================================================
$border-radius-5px: 5px;


// ========== KEYBOARD COMPONENT ==========

$k-default-width: 960px;
$k-marg-half-px: 5px;
$k-width: 100%;
// KEYBOARD COMPONENT

// ========== ASYNC TRACKING ==========

// базовая ширина ячейки по макету:
$width-asyncProduct-base: 340;
// базовая высота ячейки по макету:
$height-asyncProduct-base: 221;
// ширина блока таймера по макету:
$width-asyncProduct-timer: 90;
// ширина соуса:
$width-asyncProduct-sauceBase: 180;
$width-asyncProduct-sauce: calcPercent($width-asyncProduct-sauceBase, $width-asyncProduct-base);
// расчет полей и отступов в ячейке
$paddingTop-asyncProduct: calcPercent(6, $height-asyncProduct-base);
$paddingLeft-asyncProduct: calcPercent(8, $width-asyncProduct-base);
$marginBottom-asyncProduct-title: calcPercent(6, $width-asyncProduct-base);
$marginBottom-asyncProduct-sauce: calcPercent(11, $width-asyncProduct-base);
// поля в ячейках футера
$paddingLeft-asyncFooterItem: 15px;
// поля в таймере, когда не успели
$paddingLeft-asyncProductTimerLate: 8px;
$bgColor-asyncProductTimerLate: #ff3b14;
// Контейнер-ячейка в сетке
$bgColor-asyncTrackItem: #ecebef;
$borderWidth-asyncTrackItem: 2px;
$bgColor-asyncTrackItem-added: #c6c4d2;
$bgColor-asyncTrackItem-selected: #fed857;
$bgColor-asyncTrackItem-canceled: #ff8f77;
$color-asyncTrackItem-canceled: rgba(0, 0, 0, 0.15);

// ASYNC TRACKING

// ========== SHOP WINDOW ==========

$height-shopWindow-viewportContext: 768;
$color-80: #808080;
$color-ready: #f7931e;
$color-overdue: #ed1c24;

// SHOP WINDOW


// ========== RESTAURANT BOARD ==========

$widthContext-board: 1920;
$heightContext-board: 1080;

$color-board-active: #ffd452;
$color-board-base: #262626;

$bgColor-board: $color-board-base;
$fontRatio: 1.5; // пропорция между размером шрифта на макете и vh 
$lineHeightRatio-count1: 2.5;
$lineHeightRatio-count2: 2;
$lineHeightRatio: 1.75;
$lineHeightRatio-count6: 1.5;
$lineHeightRatio-count7: 1.25;
$lineHeightRatio-count14: $lineHeightRatio-count7;
$fontSize-orderNumber-count1: 225 / $fontRatio;
$fontSize-orderNumber-count2: 164 / $fontRatio;
$fontSize-orderNumber: 160 / $fontRatio;
$fontSize-orderNumber-count6: 128 / $fontRatio;
$fontSize-orderNumber-count7: 106 / $fontRatio;
$fontSize-orderNumber-count14: $fontSize-orderNumber-count7;
$fontSize-clientName-count1: 256 / $fontRatio;
$fontSize-clientName-count2: 186 / $fontRatio;
$fontSize-clientName: 187 / $fontRatio;
$fontSize-clientName-count6: 154 / $fontRatio;
$fontSize-clientName-count7: 130 / $fontRatio;
$fontSize-clientName-count14: $fontSize-clientName-count7;
$lineHeight-clientName-count1: $fontSize-clientName * $lineHeightRatio-count1;
$lineHeight-clientName-count2: $fontSize-clientName * $lineHeightRatio-count2;
$lineHeight-clientName: $fontSize-clientName * $lineHeightRatio;
$lineHeight-clientName-count6: $fontSize-clientName * $lineHeightRatio-count6;
$lineHeight-clientName-count7: $fontSize-clientName * $lineHeightRatio-count7;
$lineHeight-clientName-count14: $fontSize-clientName * $lineHeightRatio-count14;
$paddingLeft-orderNumber: 20;
$paddingTop-orderNumber: 25;
$paddingTop-boardRow: 18;
$paddingTop-boardRow-count1: ($lineHeight-clientName-count1 / $heightContext-board * 100) + 8 + vh;
$paddingTop-boardRow-count5: 16;
$paddingTop-board: 25;
$bgColor-orderNumber: $color-board-active;
$color-clientName: $color-fff;
$color-orderNumber: $color-board-base;
$color-boardRow-lighting: $color-board-base;
$bgColor-boardRow-lighting: $color-board-active;
$borderRadius-orderNumber: 20px;
$paddingLeft-board: 73;
$paddingRight-board: 40;
$paddingTop-board-count3: 40;
$marginRight-orderNumber: 70;
$marginRight-orderNumber-count14: 50;
$maxWidth-clientName: 1550;
$maxWidth-clientName-half: $maxWidth-clientName / 2;
$width-orderNumber-count1-2x: 360;
$width-orderNumber-count1-3x: 510;
$width-orderNumber-count2-2x: 260;
$width-orderNumber-count2-3x: 380;
$width-orderNumber-2x: 210;
$width-orderNumber-3x: 370;
$width-orderNumber-count6-2x: 175;
$width-orderNumber-count6-3x: 300;
$width-orderNumber-count7-2x: 145;
$width-orderNumber-count7-3x: 245;
$width-orderNumber-count14-2x: $width-orderNumber-count7-2x;
$width-orderNumber-count14-3x: $width-orderNumber-count7-3x;
$height-orderNumber-count1: 228;
$height-orderNumber-count2: 166;
$height-orderNumber: 167;
$height-orderNumber-count6: 137;
$height-orderNumber-count7: 113;
$height-orderNumber-count14: $height-orderNumber-count7;

$animationDuration-boardRow-lighting: 15s;
$animationFunction-boardRow-lighting: linear;
$animationCount-boardRow-lighting: 1;
$animationMode-boardRow-lighting: forwards;

$marginTop-orderNumber-count1: 529;
$paddingBottom-clientName-count1: 572;
$paddingBottom-boardRow-count2: 54;
$paddingTop-boardRow-count2: 16;
$paddingBottom-clientName-count2-row3: 259;
$marginTop-orderNumber-count2-row3: $paddingBottom-clientName-count2-row3;
$paddingBottom-clientName-count2-row4: 280;
$marginTop-orderNumber-count2-row4: 238;
$height-boardRow: 100;
// RESTAURANT BOARD